@font-face {
    font-family: "MyCustomFont";
    src: url("fonts/BodegaScript_0.woff2") format("woff2"),
         url("fonts/BodegaScript_0.woff") format("woff"),
         url("fonts/BodegaScript_0.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* улучшает восприятие загрузки */
}

@font-face {
    font-family: "MyCustomFont2";
    src: url("fonts/Mltsvfont1.woff2") format("woff2"),
         url("fonts/Mltsvfont1.woff") format("woff"),
         url("fonts/Mltsvfont1.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* улучшает восприятие загрузки */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #faeec8;
}


h1{
    font-family: "MyCustomFont2", "Arial", sans-serif; 
    font-weight: 100;
    color: #68dbca;
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 50px;
}

h2{
    font-family: "MyCustomFont2", "Arial", sans-serif; 
    font-weight: 100;
    color: #d961ad;
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 50px;
}

p{
    font-family: "MyCustomFont2", "Arial", sans-serif; 
    font-weight: 100;
    color: #000000e0;
    text-align: center;
    font-size: 30px;
    margin-top: 40px
}

.song1 {
    width: 600px;
    margin: auto; /* по центру по горизонтали */
    display: flex;
    flex-direction: column;
    align-items: center; /* содержимое по центру */
    text-align: center;
    padding-bottom: 200px;
}